<form onsubmit="javascript:return false;">
	<p><span id="QASCapture_LiteralMessage"></span></p>
	<table style="margin-left:0px;width:100%">
		<tr>
			<td><input type="text" size="10" id="QASCapture_TextRefinement"></td>
			<td><span id="QASCapture_LiteralRefineLine"></span></td>
		</tr>
		<tr>
			<td colspan="2"> <span id="QASCapture_LiteralRefineAddress"></span></td>
		</tr>
		<tr>
		    <td colspan="2">&nbsp;</td>
		</tr>
		<tr>
		    <td colspan="2">&nbsp;</td>
		</tr>
	</table>
	<br><br>
	<input onclick="addresscapture_RefineController.backButtonPressed()" name="ButtonBack" type="button" class="translation" value="LANGUAGES.ADDRESS_CAPTURE.ButtonBack" />
	<input name="ButtonNext" type="submit" class="translation" onclick="addresscapture_RefineController.nextButtonPressed()" value="LANGUAGES.ADDRESS_CAPTURE.ButtonNext" />
</form> 

