<form onsubmit="javascript:return false;">
	<P><span id="QASCapture_LiteralMessage"></span></P>
	<br><br>
	<table id="QASCapture_QASTable" style="margin-left:0px;width:100%">
	</table>
	<br><br>
	<P><font color="red"><span id="QASCapture_DPVMessage"></span></font></P>
	<input onclick="addresscapture_FormatController.backButtonPressed()" name="ButtonBack" type="button" class="translation" value="LANGUAGES.ADDRESS_CAPTURE.ButtonBack" />
	<input id="btnAccept" name="ButtonAccept" type="submit" class="translation" onclick="addresscapture_FormatController.nextButtonPressed()" value="LANGUAGES.ADDRESS_CAPTURE.ButtonAccept" />
</form>

